<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>S2C</title>
  <script type="text/javascript" src="./libs/jquery.js"></script>
  <script type="text/javascript" src="./libs/underscore.js"></script>
  <script type="text/javascript" src="./libs/backbone.js"></script>
  <script type="text/javascript" src="./libs/data.js"></script>
  <script type="text/javascript" src="./libs/maths.js"></script>
  <script type="text/javascript" src="./app/App.js"></script>
  <script type="text/javascript" src="./app/ControlsView.js"></script>
  <script type="text/javascript" src="./app/CommandUpgrade.js"></script>
  <script type="text/javascript" src="./app/CommandBuildShip.js"></script>

  <script type="text/javascript" src="./app/Notice.js"></script>
  <script type="text/javascript" src="./app/NoticeView.js"></script>
  <script type="text/javascript" src="./app/Notices.js"></script>
  <script type="text/javascript" src="./app/NoticesView.js"></script>

  <script type="text/javascript" src="./app/Fleet.js"></script>
  <script type="text/javascript" src="./app/FleetDecorator.js"></script>
  <script type="text/javascript" src="./app/FleetView.js"></script>
  <script type="text/javascript" src="./app/Fleets.js"></script>
  <script type="text/javascript" src="./app/FleetsView.js"></script>

  <script type="text/javascript" src="./app/Ship.js"></script>
  <script type="text/javascript" src="./app/ShipDecorator.js"></script>
  <script type="text/javascript" src="./app/ShipView.js"></script>
  <script type="text/javascript" src="./app/Ships.js"></script>
  <script type="text/javascript" src="./app/ShipsView.js"></script>

  <script type="text/javascript" src="./app/Planet.js"></script>
  <script type="text/javascript" src="./app/PlanetDecorator.js"></script>
  <script type="text/javascript" src="./app/PlanetView.js"></script>
  <script type="text/javascript" src="./app/Planets.js"></script>
  <script type="text/javascript" src="./app/PlanetsView.js"></script>

  <script type="text/javascript" src="./app/PlanetSmallView.js"></script>
  <script type="text/javascript" src="./app/PlanetsSmallView.js"></script>

  <script type="text/javascript" src="./app/Silo.js"></script>
  <script type="text/javascript" src="./app/SiloDecorator.js"></script>
  <script type="text/javascript" src="./app/SiloView.js"></script>

  <script type="text/javascript" src="./app/Mine.js"></script>
  <script type="text/javascript" src="./app/MineDecorator.js"></script>
  <script type="text/javascript" src="./app/MineView.js"></script>

  <script type="text/javascript" src="./app/Hangar.js"></script>
  <script type="text/javascript" src="./app/HangarDecorator.js"></script>
  <script type="text/javascript" src="./app/HangarView.js"></script>

  <script type="text/javascript" src="./app/Parking.js"></script>
  <script type="text/javascript" src="./app/ParkingDecorator.js"></script>
  <script type="text/javascript" src="./app/ParkingView.js"></script>

  <script type="text/javascript" src="./app/FleetInfoView.js"></script>
  <script type="text/javascript" src="./app/PlanetInfoView.js"></script>
  <script type="text/javascript" src="./app/PlanetInfosView.js"></script>

  <script type="text/javascript" src="./app/Universe.js"></script>
  <script type="text/javascript" src="./app/UniverseView.js"></script>
  <script type="text/javascript" src="./app/Utils.js"></script>
  <script type="text/javascript" src="./app/Router.js"></script>
  <script type="text/javascript" src="./app/LoadGame.js"></script>

  <!-- <link href='http://fonts.googleapis.com/css?family=Ropa+Sans|Asap:700' rel='stylesheet' type='text/css'> -->
  <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="./csss/reset.css">
  <link rel="stylesheet" type="text/css" href="./csss/planets.css">
</head>
<body>
  <div id="universe-controls">
    <a href="#" id="synch" onclick="return false;">synch</a>
    <a href="#" id="pause" style="display:none" onclick="return false;">pause</a>
    <a href="#" id="step" onclick="return false;">step</a>
    <a href="#" id="dashboard" onclick="return false;">dashboard</a>
  </div>

  <div id="wrapper">


<!--     <div id="test" style="font-family: 'Ubuntu Mono', sans-serif;">
      planet: Ѳ º ο ò ó ô õ ö ŏ ő ō ơ ǒ ȍ ȏ ȯ <br />

      planet: ☐ <br />
      ship: ▻ <br />

      planet-target: ¤ <br />
      ship: > <br />
      mine: Ʉ • <br />
      silo: Ʌ Δ<br />
      hangar: П<br />
      parking: ψ ӝ Ӝ ǂ<br />
    </div>

    <div id="test" style="font-family: 'Lucida Sans', sans-serif;">
      planet: Ѳ º ο ò ó ô õ ö ŏ ő ō ơ ǒ ȍ ȏ ȯ <br />
      planet-target: ¤ <br />

      planet: ☐ <br />
      ship: ▻ <br />

      ship: > <br />
      mine: Ʉ • <br />
      silo: Ʌ Δ<br />
      hangar: П<br />
      parking: ψ ӝ Ӝ ǂ<br />
    </div> -->



    <div id="notices" class="folder shadow small-long">
      <h1>notices</h1>
      <ul></ul>
    </div> <!-- notices -->

    <div id="dashboard">




      <div id="planets" class="folder shadow cards4">
        <h1>planets</h1>
        <ul></ul>
      </div> <!-- planets -->

      <div id="fleets" class="folder shadow small">
        <h1>fleets</h1>
        <ul></ul>
      </div> <!-- fleets -->



    </div> <!-- dashboard -->


    <div id="infos">
      <ul></ul>
    </div> <!-- infox -->



  </div>
</body>

<!-- TEMPLATES -->

<script type="text/template" id="notice">
  <div id="<%= id %>" class="notice card horizontal-long <%= family %>">
    <div class="header">
      <div id="icon" class="ship">▻</div>
      <div id="icon" class="planet">☐</div>
      <div id="icon" class="fleet">▻</div>
    </div>

    <div id="message"><%= message %></div>
  </div> <!-- notice -->
</script>

<script type="text/template" id="ship">
  <div id="<%= id %>" class="ship card small vertical active">
    <div class="header">
      <div id="icon">▻</div>
      <h1><%= id %></h1>
    </div>

    <div id="life" class="percent-bar">
      <div class="percent-value" style="width:<%= life_percent %>%" />
    </div>

    <div id="forces" class="sash bottom">
      <div id="attack" class="sash-cell"><%= attack %></div>
      <div id="defense" class="sash-cell"><%= defense %></div>
    </div>
  </div> <!-- ship -->
</script>

<script type="text/template" id="planet">
  <div id="<%= id %>" class="planet card vertical active <%= creating_fleet_class %> <%= possible_fleet_destination_class %>">
    <div class="header">
      <div id="icon">☐</div>
      <h1><%= id %></h1>
    </div>
    <div id="controls" class="sash bottom">
      <div id="own" class="sash-cell"><%= units_count %></div>
      <div id="enemy" class="sash-cell"><%= units_enemy_count %></div>
    </div>
    <div id="creating-fleet" class="reverse">
      Creating fleet
    </div>
    <div id="possible-fleet-destination" class="reverse">
      Send fleet here
    </div>
  </div>
</script>

<script type="text/template" id="planet-small">
  <div id="<%= id %>" class="planet-small card vertical mini active">
    <div class="header">
      <div id="icon">☐</div>
      <h1><%= id %></h1>
    </div>
  </div>
</script>

<script type="text/template" id="fleet">
  <div id="<%= id %>" class="fleet card horizontal <%= traveling_class %>">
    <div id="planets">
      <div id="origin" class="planet">
        <div id="icon">☐</div>
        <h1><%= base_id %></h1>
      </div>

      <div id="destination" class="planet">
        <div id="icon">☐</div>
        <h1><%= destination_id %></h1>
      </div>
    </div>

    <div id="status" class="sash right">
        <h1><%= units_count %></h1>
        <div id="travel" class="percent-bar">
          <div class="percent-value" style="width:<%= travel_percent %>%" />
        </div>
        <div id="combat">
          combat
        </div>
    </div>
  </div>
</script>

<script type="text/template" id="mine">
  <div id="mine" class="construction card bigbox <%= extra_css_classes %>">
    <!-- ID: '<%= id %>' -->

    <div class="header">
      <div id="icon">⧫</div>
      <h1>mine</h1>
    </div>
    <div id="controls">
      <div id="velocity" class="data">
        <span><%= production %></span> stuff/tick
      </div>
      <div id="level" class="">
        Level <%= level %>
        <div id="upgrading" class="percent-bar">
          <div class="percent-value" style="width:<%= upgrade_percent %>%" />
        </div>

        <div class="reverse">
          <a id="upgrade" href="#" onclick="return false;">upgrade</a>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/template" id="silo">
  <div id="silo" class="construction card bigbox <%= extra_css_classes %>">
    <!-- ID: '<%= id %>' -->

    <div class="header">
      <div id="icon">⋀</div>
      <h1>silo</h1>
    </div>
    <div id="controls">
      <div id="stuff" class="data">
        <span><%= stuff %> </span> stuff
      </div>

      <div id="capacity" class="percent-bar">
        <div class="percent-value" style="width:<%= capacity_percent %>%" />
      </div>

      <div id="level" class="">
        Level <%= level %>
        <div id="upgrading" class="percent-bar">
          <div class="percent-value" style="width:<%= upgrade_percent %>%" />
        </div>

        <div class="reverse">
          <a id="upgrade" href="#" onclick="return false;">upgrade</a>
        </div>
      </div>
    </div>
  </div>
</script>



<script type="text/template" id="hangar">
  <div id="hangar" class="construction card bigbox <%= extra_css_classes %>">
    <!-- ID: '<%= id %>' -->
    <div class="header">
      <div id="icon">∩</div>
      <h1>hangar</h1>
    </div>
    <div id="controls">

      <div id="velocity" class="data">
        <span><%= production_ticks %></span> ticks/▻

        <div id="building">
          <div class="percent-bar">
            <div class="percent-value" style="width:<%= build_percent %>%" />
          </div>

          <%= building_ships %>
        </div>

        <div class="reverse">
          <a id="build-ship" href="#" onclick="return false;">build ▻</a>
        </div>
      </div>

      <div id="level" class="">
        Level <%= level %>
        <div id="upgrading" class="percent-bar">
          <div class="percent-value" style="width:<%= upgrade_percent %>%" />
        </div>

        <div class="reverse">
          <a id="upgrade" href="#" onclick="return false;">upgrade</a>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/template" id="parking">
  <div id="parking" class="construction card bigbox <%= extra_css_classes %>">
    <!-- ID: '<%= id %>' -->

    <div class="header">
      <div id="icon">⋕</div>
      <h1>parking</h1>
    </div>
    <div id="controls">

      <div id="ships" class="data">
        <span><%= capacity %></span> ▻
      </div>

      <div id="capacity" class="percent-bar">
        <div class="percent-value" style="width:<%= capacity_percent %>%" />
      </div>

      <div id="level" class="data">
        Level <%= level %>
        <div id="upgrading" class="percent-bar">
          <div class="percent-value" style="width:<%= upgrade_percent %>%" />
        </div>

        <div class="reverse">
          <a id="upgrade" href="#" onclick="return false;">upgrade</a>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/template" id="planet-info">
  <div id="planet-info-<%= id %>" class="planet folder">
    <div id="details">
      <div class="header">
        <div id="icon">☐</div>
        <h1><%= id %></h1>
      </div>
    </div>

    <div id="constructions" class="folder shadow">
      <h1>constructions</h1>
      <ul></ul>
    </div>

    <div id="navy" class="folder shadow cards-small3">
      <h1>navy</h1>

      <div id="controls" class="sash">
        <div class="sash-cell">
          <a href="#" class="create-fleet" style="display:none" onclick="return false;">Send Fleet</a>
          <a href="#" class="cancel-fleet" style="display:none" onclick="return false;">Cancel Fleet</a>
        </div>
      </div>

      <div id="planets-small">
      </div>
    </div> <!-- navy -->



    <div id="enemy-fleets">
      <ul></ul>
    </div> <!-- enemy-fleets -->

  </div> <!-- planet-info -->
</script>

<script type="text/template" id="fleet-info">
  <div id="<%= id %>" class="fleet enemy folder shadow cards-small3 <%= traveling_class %>">
    <h1>
      <%= id %>
      <div id="travel" class="percent-bar">
        <div class="percent-value" style="width:<%= travel_percent %>%" />
      </div>
    </h1>
    <ul></ul>
  </div> <!-- enemy -->
</script>


</html>