<html>
<head>
  <title>Planets</title>
  <script type="text/javascript" src="./jquery.js"></script>
  <script type="text/javascript" src="./underscore.js"></script>
  <script type="text/javascript" src="./backbone.js"></script>
  <script type="text/javascript" src="./data.js"></script>
  <script type="text/javascript" src="./maths.js"></script>
  <script type="text/javascript" src="./app/App.js"></script>
  <script type="text/javascript" src="./app/ControlsView.js"></script>
  <script type="text/javascript" src="./app/Fleet.js"></script>
  <script type="text/javascript" src="./app/FleetView.js"></script>
  <script type="text/javascript" src="./app/Fleets.js"></script>
  <script type="text/javascript" src="./app/Ship.js"></script>
  <script type="text/javascript" src="./app/ShipView.js"></script>
  <script type="text/javascript" src="./app/Ships.js"></script>
  <script type="text/javascript" src="./app/ShipsView.js"></script>
  <script type="text/javascript" src="./app/Planet.js"></script>
  <script type="text/javascript" src="./app/PlanetView.js"></script>
  <script type="text/javascript" src="./app/Planets.js"></script>
  <script type="text/javascript" src="./app/FleetInfoView.js"></script>
  <script type="text/javascript" src="./app/PlanetInfoView.js"></script>
  <script type="text/javascript" src="./app/InfoPanelView.js"></script>
  <script type="text/javascript" src="./app/MapView.js"></script>
  <script type="text/javascript" src="./app/Universe.js"></script>
  <script type="text/javascript" src="./app/UniverseView.js"></script>
  <script type="text/javascript" src="./app/Utils.js"></script>
  <script type="text/javascript" src="./app/LoadGame.js"></script>


  <link href='http://fonts.googleapis.com/css?family=Ropa+Sans|Asap:700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="./reset.css">
  <link rel="stylesheet" type="text/css" href="./planets.css">
</head>
<body>
  <div id="wrapper">
    <div id="controls">
      <a href="#" id="synch" style="display:none">synch</a>
      <a href="#" id="pause">pause</a>
    </div>

    <div id="map"></div>
    <div id="info-panel"></div>
  </div>
</body>

<!-- TEMPLATES -->

<script type="text/template" id="ship">
  <div>
    <h1><%= id %></h1>
    <dl class="details">
      <dt>Level</dt><dd><span><%= level %></span></dd>
      <dt>Life</dt><dd><span><%= life %></span>♈</dd>
      <dt>Status</dt><dd><span><%= status %></span></dd>
    </dl>
  </div>
</script>

<script type="text/template" id="planet">
  <h1><%= id %></h1>
  <div class="sphere"></div>
</script>

<script type="text/template" id="fleet">
  <h1><%= id %></h1>
  <div class="sphere"></div>
</script>

<script type="text/template" id="planet-info">
  <h1>Planet <span><%= id %></h1>
  <div class="info">
    <dl class="details">
      <dt>Black Stuff</dt><dd><span><%= black_stuff %></span></dd>
      <dt>Position</dt><dd><span>⩟<%= position[0] %> ⩠<%= position[1] %></span></dd>
      <dt>Defense</dt><dd><span>10 missiles</span></dd>
    </dl>
  </div>

  <div class="constructions">
    <div class="construction mine">
      <h1>Mine</h1>
      <div class="upgrade">
        (<a href="#">180⋶ for upgrade</a>)
      </div>
      <dl class="details">
        <dt>Nivel</dt><dd><span>4</span></dd>
        <dt>Production</dt><dd><span>220 ⨃</span></dd>
      </dl>
    </div>
    <div class="construction hangar">
      <h1>Hangar</h1>
      <div class="upgrade">
        (upgrading..290⩪)
      </div>
      <dl class="details">
        <dt>Nivel</dt><dd><span>1</span></dd>
        <dt>Production</dt><dd><span>10 ⨃</span></dd>
        <dt>
          Building
        </dt>
        <dd>
          <ul>
            <li><span>12 ships</span> (123⩪) (<a href>12⋶ for ship</a>) </li>
            <li><span>3 missils</span> (11⩪) (<a href>1⋶ for missile</a>) </li>
        </dd>
      </dl>
    </div>
    <div class="construction navy">
      <h1>Navy</h1>
    </div>
  </div>

  <div class="controls">
    <a href="#" class="create-fleet" style="display:none">Send Fleet</a>
    <a href="#" class="cancel-fleet" style="display:none">Cancel Fleet</a>
  </div>
</script>

<script type="text/template" id="fleet-info">
  <h1>Fleet <span><%= id %></h1>
  <div class="info">
    <dl class="details">
      <dt>Position</dt><dd><span>⩟<%= position[0] %> ⩠<%= position[1] %></span></dd>
      <dt>Status</dt><dd><span><%= status %></span></dd>
      <dt>Origin</dt><dd><span><%= origin.get( "id" ) %></span></dd>
      <dt>Destination</dt><dd><span><%= destination.get( "id" ) %></span></dd>
      <dt>Percent</dt><dd><span><%= process_percent %></span></dd>
    </dl>
  </div>

  <div class="constructions">
    <div class="construction navy">
      <h1>Navy</h1>
    </div>
  </div>

  <div class="controls">
  </div>
</script>


</html>