/* VERSION: 2 */

body {

  font-family: 'Ropa Sans', sans-serif;
  /*font-family: 'PT Mono', sans-serif;*/
  /*font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;*/
  font-size: 16px;
  line-height: 24px;
}

#universe-controls {
  position: fixed;
  top: 0px;
  padding: 5px 30px;
  border-bottom: 1px solid #ccc;
  width: 100%;
  z-index: 10;
  background-color: white;
}

#universe-controls a {
  color: #111;
}

.card {
  box-sizing: border-box;
}

.card.active {
  cursor: pointer;
}

.card .reverse {
  display: none;
  background-color: rgba(241, 241, 242, 0.9);
  color: black;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  white-space: normal;
  padding: 90% 5px 0px 5px;
  line-height: 1em;
  font-weight: bold;
}

.card .reverse a {
  color: black;
}

/*.card:hover .reverse {
  display: block;
}*/

.card.active:hover .header #icon {
  font-size: 110px;
  text-shadow: 3px 3px 6px #111;
}

.card.active:active .header #icon {
  font-size: 90px;
  text-shadow: 1px 1px 2px #111;
}

.card .header #icon,
#details .header #icon {
  text-align: center;
  font-size: 100px;
  line-height: 80px;
  text-shadow: 2px 2px 4px #111;
}

.card.vertical.ship .header #icon {
  margin-top: 10px;
  line-height: 50px
}

.card.vertical .header h1,
.card.bigbox .header h1,
#details .header h1 {
  font-size: 26px;
  text-align: center;
  /*font-weight: bold;*/
}

.card.vertical .sash {
  width: 98px;
  float: right;
}

.card.vertical .sash-cell {
  float: left;
  width: 50%;
  padding: 5px 0px;
  font-size: 20px;
  text-align: center;
}

.card.selected {
  border: 1px solid #521f29;
}

#wrapper {
  padding: 20px;
  width: 700px;
  margin: 10px;
}

.folder{
  white-space: nowrap;
  overflow: hidden;
  float: left;
  margin: 10px;
  border: 2px solid #F1F1F2;
  position: relative;
}

.shadow {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.folder.cards4 {
   width: 456px;
}

.folder.cards3 {
   width: 343px;
}

.folder.small {
  width: 195px;
}

.folder > h1 {
  background: #F1F1F2;
  padding: 15px 15px 10px 15px;
}

.card {
  border: 2px solid #F1F1F2;
  margin: 5px;
  position: relative;
  float: left;
}

.card.vertical {
  width: 100px;
  height: 150px;
  text-align: center;
}

.card.horizontal {
  width: 180px;
  height: 60px;
}

.card.bigbox {
  box-sizing: border-box;
  width: 220px;
  padding: 10px 10px 10px 10px;
}

.card.bigbox .header {
  margin-top: -20px;
  width: 40%;
  float: left;
}

.card.bigbox #controls {
  width: 50%;
  text-align: center;
  float: right;
}

.card.bigbox #controls .data {
  margin-top: 10px;
}

.card.bigbox #controls #level,
.card.bigbox #controls #velocity {
  position: relative;
  padding: 5px;
}

.card.bigbox #controls #level:hover .reverse,
.card.bigbox #controls #velocity:hover .reverse {
  font-weight: normal;
  padding: 5px;
  display: block;
  font-size: 0.8em;
}



.card #controls .data {
}

.card #controls .data span {
  font-size: 1.3em;
}

.percent-bar {
  width: 60px;
  height: 4px;
  border: 1px solid #ccc;
  text-align: center;
  margin: 0 auto;
}
.percent-value {
  background-color: black;
  width: 0%;
  height: 4px;
}




.sash {
  background: #F1F1F2;
}

.bottom{
  position: absolute;
  width: 100%;
  bottom: 0px;
}




.fleet.card #planets {
  float: left;
  text-align: center;
}

.fleet.card #planets .planet {
  width: 50px;
  float: left;
}

.fleet.card #planets .planet #icon {
  font-size: 60px;
  line-height: 40px;
  text-shadow: 2px 2px 4px #111;
}

.fleet.card #planets .planet > h1 {
  font-size: 14px;
}



.fleet.card #status{
  width: 78px;
  height: 50px;
  float: left;
  text-align: center;
  padding: 10px 0px 0px 0px;
}

.fleet.card #status h1 {
  font-size: 35px;
}

.fleet.card #status #travel {
  margin-top: 12px;
}

.fleet #travel ,
.fleet #combat{
  display: none;
}

.fleet.traveling #travel,
.fleet.no-traveling #combat {
  display:block;
}


.ship.card #life{
  margin-top: 12px;
}

#infos {
  float: left;
}

#infos .planet #enemy-fleets {
  float: left;
}

#navy #controls {
  clear: both;
  text-align: right;
  padding-right: 10px;
}

#navy #controls a {
  color: black;
}

#infos #details {
  float: left;
  width: 100px;
}


#planets .planet.creating-fleet #creating-fleet,
#planets .planet.possible-fleet-destination #possible-fleet-destination{
  display: block;
}

#planets .planet.creating-fleet:hover .header #icon,
#planets .planet.possible-fleet-destination:hover .header #icon {
  font-size: 100px;
  text-shadow: 2px 2px 3px #111;
}

#planets .planet.creating-fleet:active .header #icon,
#planets .planet.possible-fleet-destination:active .header #icon {
  font-size: 100px;
  text-shadow: 2px 2px 3px #111;
}

.construction #upgrading {
  display: none;
}
.construction.upgrading #upgrading {
  display: block;
}

#hangar.construction #building {
  display: none;
}

#hangar.construction.building #building {
  display: block;
}
