body {
  font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.planet #icon {
  text-align: center;
  font-size: 100px;
  line-height: 80px;
  text-shadow: 2px 2px 4px #111;
}

#wrapper {
  width: 100%;
  padding: 20px;
}

.folder{
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  float: left;
  margin: 10px;
}

.folder.big {
   width: 456px;
}

.folder.small {
  width: 195px;
}

.folder > h1 {
  background: #F1F1F2;
  padding: 15px 15px 10px 15px;
}

.card {
  border: 2px solid #F1F1F2;
  margin: 5px;
  position: relative;
  float: left;
}

.card.vertical {
  width: 100px;
  height: 150px;
}

.card.horizontal {
  width: 180px;
  height: 60px;
}

.card > h1 {
  font-size: 26px;
  text-align: center;
  /*font-weight: bold;*/
}

.sash {
  background: #F1F1F2;
}

.bottom{
  position: absolute;
  bottom: 0px;
}


.card #controls #ships div {
  box-sizing: border-box;
  float: left;
  width: 50px;
  padding: 5px 0px;
  font-size: 20px;
  text-align: center;
}

.fleet.card #planets {
  float: left;
  text-align: center;
}

.fleet.card #planets .planet {
  width: 50px;
  float: left;
}

.fleet.card #planets .planet #icon {
  font-size: 60px;
  line-height: 40px;
  text-shadow: 2px 2px 4px #111;
}

.fleet.card #planets .planet > h1 {
  font-size: 14px;
}

.fleet.card #status{
  width: 80px;
  height: 50px;
  float: left;
  text-align: center;
  padding: 10px 0px 0px 0px;
}
.fleet.card #status h1 {
  font-size: 35px;
}